{%  extends "school/dashboard.html" %}


                <div class="content">  <!--- Content Box -->
                    {% block dashboard %}
                    <h1>Student Marks</h1> 
                    <br>
        
                    <!--- Marks  -->
                    <div id="box">
                            <div class="box-top">Marks</div>
                            <div class="box-panel">
                                    <h3>No Marks has been updated yet</h3>
                                
                            </div>
                    </div>
                </div>
        
            </div>
{% endblock %}