{%  extends "school/dashboard.html" %}



            
                <div class="content">  <!--- Content Box -->
                    {% block dashboard %}
                    <h1>Subject Section</h1> 
                    <br>
        
                    <!--- Subjects  -->
                    <div id="box">
                            <div class="box-top">Subjects</div>
                            <div class="box-panel">
                            {% if 'teacher' in request.session %}
                                {% for i in subject_data %}
                                    <td>{{ i.subject_name }}</td>
                                    <br>
                                {% endfor %}
                              
                            {% else %}
                                    <table style="width:100%">
                                    
                                        
                                            <tr>
                                                <th>Teacher Name</th>
                                                {% for i in teacher_data %}
                                                {% for j in student_data %}
                                                {% if j.course_id == i.course_id %}
                                                <td>{{ i.teacher_name }}</td>
                                                {% endif %}
                                            </tr>
                                            
                                        {% endfor %}
                                    {% endfor %}
                                            <tr>
                                                <br>
                                                <th>Subjects</th>
                                                {% for i in subject_data %}
                                                <td>{{ i.subject_name }}</td>
                                               
                                                {% endfor %}
                                            </tr>
                                            </tr>
                                    </table>
                            {% endif %}
                            </div>
                    </div>
{% endblock %}